@import "variables";
@import "mixins";
@import "fonts";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  &, &:focus, &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.wrapper {
  background-color: $background;
  @include desktop-common {
    display: grid;
    grid-template: "main aside" "content aside"
    / minmax(calc(100vw - 350px), 1fr) 350px;
  }
  @include desktop-min-width {
    display: grid;
    grid-template: "main aside" "content aside"
    / minmax(calc(100vw - 350px), 1fr) minmax(350px, 1fr);
  }
}

.main {
  position: relative;
  height: 100vh;
  @include desktop-common {
    grid-area: main;
  }
  @include desktop-min-width {
    grid-area: main;
  }

  &__block {
    display: flex;
    padding: 42px 0 0 48px;
    align-items: center;
    position: absolute;
    z-index: 1;
    opacity: 0;

    @include desktop-common {
      padding: 53px 0 0 51px;
    }
    @include desktop-min-width {
      padding: 53px 0 0 51px;
    }
    @include tablet-large-min-width {
      padding: 38px 0 0 48px;
    }
    @include desktop {
      opacity: 1;
    }
    @include tablet-large {
      padding: 37px 0 0 45px;
    }
    @include tablet {
      padding: 26px 0 0 16px;
    }
    @include mobile {
      padding: 28px 0 0 16px;
    }
    @include mobile-small {
      padding: 25px 0 0 17px;
    }

    img {
      margin: 0 10px 0 0;
      width: 40px;
      @include desktop-min-width {
        margin: 0 18px 2px 0;
      }
      @include tablet-min-width {
        width: 20px;
      }
      @include tablet {
        width: 20px;
      }
    }

    &-title {
      color: $white;
      position: relative;
      top: -2px;
      font-family: Druk Wide Cyr, sans-serif;
      font-style: normal;
      font-weight: 600;
      @include desktop-common {
        font-size: 58px;
        line-height: 60px;
        top: -8px;
      }
      @include desktop-min-width {
        font-size: 58px;
        line-height: 60px;
        top: -10px;
      }
      @include tablet-min-width {
        font-size: 28px;
        top: -5px;
      }
      @include tablet {
        font-size: 28px;
        top: -5px;
      }
      @include tablet-small {
        font-size: 28px;
        top: -5px;
      }
      @include mobile-small {
        font-size: 28px;
        top: -4px;
      }
    }

    &_show {
      animation: ease-out showTitle 600ms;
    }

    &_hide {
      animation: ease-out hideTitle 150ms;
    }
  }

  &__more {
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    z-index: 1;
    cursor: pointer;
    @include desktop-common {
      left: 50px;
      font-size: 14px;
      line-height: 19px;
    }
    @include desktop-min-width {
      left: 50px;
      font-size: 14px;
      line-height: 19px;
      bottom: 70px;
    }
    @include desktop {
      left: 48px;
      bottom: 40px;
    }
    @include tablet {
      left: 17px;
      bottom: 28px;
    }
    @include tablet-small {
      bottom: 28px;
      left: 16px;
    }
    @include mobile-small {
      bottom: 30px;
      left: 15px;
    }

    span {
      color: $white;
      font-weight: 600;
      margin: 0 0 0 12px;
      @include desktop-common {
        margin: 0 0 0 15px;
      }
      @include tablet-min-width {
        margin: 0 0 0 15px;
      }
    }

    &:hover {
      @include desktop-common {
        transform: translateY(4px);
        transition: all ease-in .4s;
      }
      @include desktop-min-width {
        transform: translateY(4px);
        transition: all ease-in .4s;
      }
    }

  }

  &__video {
    display: block;
    position: absolute;
    left: 0;
    max-width: calc(100vw - 350px);
    max-height: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
    @include desktop {
      max-width: 100vw;
    }
  }

  &__noisy {
    @include addNoise;
  }
}

.about {
  padding: 50px 20px 50px 20px;
  position: relative;

  @include desktop-common {
    grid-area: content;
    padding: 57px 50px 75px 50px;
    max-width: 785px;
  }
  @include desktop-min-width {
    grid-area: content;
    padding: 53px 50px 75px 50px;
    max-width: 785px;
  }
  @include desktop {
    padding: 50px 20px 80px 50px;
  }
  @include tablet-large {
    padding: 50px 20px 75px 49px;
  }
  @include tablet {
    padding: 32px 15px 30px 17px;
  }
  @include mobile {
    padding: 32px 20px 25px 17px;
  }
  @include mobile-small {
    padding: 32px 15px 25px 17px;
  }

  &__title {
    color: $white;
    font-family: Druk Wide Cyr, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 0;
    @include desktop-common {
      font-size: 58px;
      line-height: 58px;
      margin-bottom: 32px;
    }
    @include desktop-min-width {
      font-size: 58px;
      line-height: 58px;
    }
    @include desktop {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 25px;
    }
    @include tablet-large {
      margin-bottom: 28px;
    }
    @include tablet-small {
      margin-bottom: 28px;
    }
    @include mobile {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 28px;
    }
    @include mobile-small {
      font-size: 23px;
      line-height: 26px;
      margin-bottom: 18px;
    }
  }

  &__text {
    color: $gray-middle-1;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    @include desktop-common {
      font-size: 19px;
      line-height: 29px;
    }
    @include desktop-min-width {
      font-size: 19px;
      line-height: 29px;
      padding: 0 90px 0 0;
    }
    @include tablet-min-width {
      max-width: 600px;
    }

    &_small {
      @extend .about__text;
      font-size: 12px;
      line-height: 17px;
      margin: 0;
      @include desktop-common {
        font-size: 14px;
        line-height: 19px;
      }
      @include desktop-min-width {
        font-size: 14px;
        line-height: 19px;
      }
      @include tablet-min-width {
        max-width: 600px;
      }
    }
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    margin: 45px 0 0 0;
    width: 100%;
    @include desktop-min-width {
      margin: 40px 0 0 0;
      width: calc(100% - 60px);
    }
    @include tablet-min-width {
      max-width: 520px;
      margin: 30px 0 0 0;
    }
    @include tablet-small {
      margin: 28px 0 0 0;
      width: calc(100vw - 120px);
    }
    @include mobile {
      margin: 30px 0 0 0;
      width: 100%;
    }
    @include mobile-small {
      margin: 35px 0 0 0;
    }
  }

  &__item {
    flex: 1 1;
    @include desktop-common {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      .about__text {
        padding: 0;
      }
    }
    @include desktop-min-width {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .about__text {
        padding: 0;
      }
    }
    @include mobile {
      &:last-of-type {
        position: relative;
        right: -20px;
      }
    }
    @include mobile-small {
      flex: 50% 1;
      &:last-of-type {
        position: unset;
        margin: 20px 0 0 0;
      }
    }

    img {
      width: 35px;
      height: 21px;
      @include desktop-common {
        width: 51px;
        height: 28px;
        margin: 0 12px 0 0;
      }
      @include desktop-min-width {
        width: 51px;
        height: 28px;
        margin: 0 12px 0 0;
      }
    }

    &-counter {
      font-family: Druk Wide Cyr, sans-serif;
      font-style: normal;
      font-weight: 600;
      color: $white;
      font-size: 23px;
      line-height: 26px;
      letter-spacing: 1px;
      @include desktop-common {
        font-size: 35px;
        line-height: 24px;
        margin: 0 12px 0 0;
      }
      @include desktop-min-width {
        font-size: 35px;
        line-height: 24px;
        margin: 0 12px 0 0;
      }
    }
  }

  &__callback {
    @include desktop-min-width {
      display: block;
    }
    @include desktop {
      margin-top: 75px;
      display: grid;
      align-items: flex-end;
      grid-template-columns: minmax(600px, 1fr) 254px;
      gap: 330px;
    }
    @include tablet-large {
      margin-top: 70px;
      display: grid;
      grid-template-columns: minmax(460px, 1fr) 243px;
      align-items: flex-end;
      grid-gap: 0;
    }
    @include tablet {
      margin-top: -85px;
      display: grid;
      grid-template-columns: minmax(600px, 1fr) 212px;
      align-items: flex-end;
      grid-gap: 60px;
    }
    @include tablet-small {
      margin: 33px 0 0 0;
      display: block;
    }
  }

  &__form {
    @include desktop-common {
      max-width: 785px;
    }
    @include desktop {
      max-width: 600px;
      margin: 0;
    }
    @include mobile-small {
      margin: 37px 0 0 0;
    }

    .about__text {
      @include desktop-common {
        padding: 0 320px 0 0;
      }
      @include desktop-min-width {
        padding: 0 300px 0 0;
      }
      @include desktop {
        padding: 0 210px 0 0;
      }
      @include tablet {
        padding: 0 200px 0 0;
      }
      @include mobile {
        padding: 0 20px 0 0;
      }
    }
  }

  &__input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
    flex-flow: row nowrap;
    border-bottom: 3px solid $black-dark;
    align-items: center;
    @include mobile {
      margin: 22px 0 0 0;
    }

    input {
      -webkit-padding-after: 0;
      margin: 0;
      width: calc(100% - 30px);
      font-family: Druk Wide Cyr, sans-serif;
      font-style: normal;
      font-weight: 600;
      color: $black-dark;
      background-color: transparent;
      border: none;
      position: relative;
      padding: 0 0 5px 0;
      font-size: 23px;
      line-height: 26px;
      letter-spacing: 1px;
      outline: transparent;

      //safari fix
      @media not all and (min-resolution: .001dpcm) {
        & {
          &::placeholder {
            line-height: normal !important;
          }
        }
      }

      &::placeholder {
        color: $black-dark;
        font-weight: 600;
      }

      @include desktop-common {
        font-size: 35px;
        line-height: 24px;
        padding: 0 0 10px 0;
      }
      @include desktop-min-width {
        font-size: 35px;
        line-height: 24px;
        padding: 0 0 10px 0;
      }
      @include mobile {
        font-size: 22px;
      }
    }
  }

  &_error {
    input {
      color: $red !important;
    }
  }

  &__submit {
    cursor: pointer;
    width: 26px;

    &:focus {
      outline: transparent;
    }

    @include desktop-common {
      width: 42px;
      height: 31.71px;
    }
    @include desktop-min-width {
      width: 42px;
      height: 31.71px;
    }
    @include mobile {
      position: relative;
      right: 7px;
    }
  }

  &__footer {
    @include desktop-common {
      display: none;
    }
    @include desktop-min-width {
      display: none;
    }
    @include desktop {
      position: relative;
      top: 6px;
    }
    @include tablet-large {
      position: relative;
      top: 6px;
    }
    @include tablet {
      position: unset;
      margin: 135px 0 0 0;
    }
    @include tablet-small {
      margin: 122px 0 0 0;
    }
    @include mobile {
      margin: 99px 0 0 0;
    }
    @include mobile-small {
      margin: 123px 0 0 0;
    }

    &-text {
      @extend .about__text;
      font-size: 12px;
      line-height: 17px;
      @include tablet-min-width {
        display: none;
      }

      &_full {
        @extend .about__text;
        font-size: 12px;
        line-height: 17px;
        display: block;
        @include desktop {
          position: relative;
          top: 4px;
        }
        @include tablet-large {
          top: unset;
        }
        @include tablet-small {
          display: none;
        }
      }
    }
  }

  &__link {
    &_noise {
      @include addNoise;
      left: 0;
      top: 0;
    }

    &_email {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 155px;
      width: 100%;
      height: 35px;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 500;
      color: $gray-middle-1;
      background-color: $black-dark-1;
      box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      font-size: 15px;
      line-height: 22px;

      &:focus {
        color: $gray-middle-1;
      }
    }
  }
}

.aside {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 60px 0 0 0;
  background-color: $dark;
  right: 0;
  height: 100vh;

  > * {
    padding-left: 25px;
  }

  @include desktop-common {
    display: flex;
    position: fixed;
    width: 350px;
  }
  @include desktop-min-width {
    display: flex;
    position: fixed;
    width: 350px;
  }

  &__title {
    margin: 0 0 10px 0;

    img:first-of-type {
      height: 20px;
      margin: 0 3px 3px 0;
    }
  }

  &__text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: $gray-dark;
  }

  &__callback {
    position: relative;
    top: -130px;
    @include desktop-common {
      top: -138px;
    }

    a {
      font-family: Druk Wide Cyr, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 1px;
      color: $white;
      margin: 0 0 13px 0;
      display: block;

      &:hover {
        color: $red;
      }
    }
  }
}

@keyframes showTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideTitle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
