$white: white;
$black: black;
$background: #0F0F0F;
$gray-middle: #6C6B6B;
$gray-middle-1: #6F6F6F;
$gray-dark: #6B6B6B;
$dark: #181818;
$black-dark: #3A3A3A;
$black-dark-1: #202020;
$red: #EB1D44;

$sm-s: 461px;
$sm: 482px;
$md-s: 632px;
$md: 900px;
$md-l: 969px;
$lg: 1238px;
$lg-l: 1682px;
